# Python
__pycache__/
*.py[cod]
*.so

test.py

# Tools
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/
.venv/
venv

#DATA
data/face_dataset/
.env
new_face/models/
new_face/output/
output/
new_face/whl/

# other
k8s/